* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  background: linear-gradient(50deg, #390a77, #3b09e0);
  color: white;
  text-align: center;
  height: 100vh;
}

/* Title */
.gametitle {
  text-transform: uppercase;
  font-size: 4rem;
  padding: 2rem;
}

.gametitle-r {
  color: rgb(255, 0, 0);
}
.gametitle-g {
  color: rgb(0, 255, 0);
}
.gametitle-b {
  color: rgb(0, 0, 255);
}

/* Game Container */
.container {
  padding: 2rem;
}

.game-container {
  border: 3px ridge #202020;
  background: linear-gradient(80deg, #d3d3d3, #777777);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  margin: 0 auto;
  max-width: 50rem;
  height: 30rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1rem;
}

.square {
  border: 3px ridge #202020;
  transition: all 0.25s;
  cursor: pointer;
}

/* Responsive */
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.2rem;
  }

  .gametitle {
    font-size: 1.5rem;
    padding: 2rem;
  }
  .game-container {
    height: 15rem;
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }
}
